html,
/* body standaard met donkereblauwe tekst op witte achtergrond */
body {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #113743;
  height: 100%;
  width: 100%;
}
/* om lijntjes onder de linktekst te verwijderen en kleur thema */
a,
a:hover {
  text-decoration: none;
  color: #006abf;
}

.blauw {
  color: #006abf;
}

.verela {
  font-family: "Varela Round", sans-serif;
}

span {
  color: red;
}
/* om knop te personaliseren */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #006abf;
  --bs-btn-border-color: #006abf;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #113743;
  --bs-btn-hover-border-color: #113743;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #113743;
  --bs-btn-active-border-color: #113743;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #006abf;
  --bs-btn-disabled-border-color: #006abf;
}
