html,
/* body standaard met donkereblauwe tekst op witte achtergrond */
body {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #11374f;
  height: 100%;
  width: 100%;
}

/* om lijntjes onder de linktekst te verwijderen en zelfde kleur bij hover */
a,
a:hover {
  text-decoration: none;
  color: #006abf;
}

.blauw {
  color: #006abf; /* thema kleur */
}

.verela {
  font-family: "Varela Round", sans-serif; /* lettertype voor hele site */
}
/* portfolio items gepersonaliseerd */
.portfolio-item {
  border: 1px solid #ddd; /* kader rond het vakje */
  padding: 1rem; /* spaties rondom in vak */
  border-radius: 15px; /* afronding van bordervak */
  transition: box-shadow 0.3s ease; /* effect bij hovering */
  background-color: #f8f9fa; /* achtergrond van het vak zelfde als navbar */
  object-fit: cover; /*  netjes in het vakje */
}

.portfolio-item img {
  width: 100%; /* vult de kolom */
  height: 200px; /* vaste hoogte */
  object-fit: cover; /*  netjes in het vakje */
}

.portfolio-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* hover effects toegevoegd */
}

/* lijst personaliseren met bolletjes en spaties */
ul.project-list {
  list-style-type: disc; /* gekozen voor ronde bolletjes */
  padding-left: 1.5rem; /* linkse spatie van de oplijsting */
}

ul.project-list li {
  margin-bottom: 0.75rem; /* ruimte onder elk list item */
}

span {
  color: red; /* voor de rode ster in formulier  */
}

/* om knop te personaliseren */
.btn-submit {
  --bs-btn-color: #fff; /* witte tekst op knop */
  --bs-btn-bg: #006abf;
  --bs-btn-border-color: #006abf;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #004a80; /* donkerblauw als je erover gaat */
  --bs-btn-hover-border-color: #004a80;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #004a80;
  --bs-btn-active-border-color: #004a80;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #006abf;
  --bs-btn-disabled-border-color: #006abf;
}
